@import '../utils/colors.scss';
@import '../utils/layout.scss';
@import '../utils/fonts.scss';
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 80px;
    background-color: $primary-dark;
}

.header__logo--container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: end;
    margin-left: $gutter / 2;
    margin-bottom: $gutter / 2;
}

.header__navigation-link--container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    align-items: end;
    margin-right: $gutter / 2;
    margin-bottom: $gutter / 2;
}

.header__navigation-link {
    color: $white;
}

.header__logo {
    justify-self: start;
    text-transform: uppercase;
    font-size: $baseline * 2;
}

@media (min-width: 760px) {
    header {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .header__navigation-link--container {
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr;
        justify-content: end;
        margin-right: $gutter;
    }
    .header__navigation-link {
        margin-top: $gutter;
        margin-left: $gutter;
        margin-bottom: $gutter / 2;
        justify-self: center;
        align-self: end;
    }
    .header__logo {
        justify-self: start;
        text-transform: uppercase;
        font-size: $baseline * 2;
    }
}