header {
    display: grid;
    grid-template-columns: [row1] 1fr;
    grid-template-rows: [col1] 1fr [col2] 1fr;
    grid-template-areas: "logo" "navigation";
    border: 1px solid black;
}

.header__logo--container {
    grid-area: logo;
    border: 1px solid blue;
}

.header__navigation-link--container {
    grid-area: navigation;
    border: 1px solid red;
}