@import '../utils/colors.scss';
@import '../utils/fonts.scss';
@import '../utils/layout.scss';
.home__hero--container {
    height: 419px;
    background-image: $primary-gradient-2;
    background-size: cover;
}

.home__hero--opacity {
    height: 419px;
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: grid;
}

.home__hero--text {
    color: $white;
    font-size: $header;
    align-self: center;
    margin-left: $gutter;
}

@media (min-width: 760px) {
    .home__hero--container {
        background-position-y: 80%;
    }
    .home__hero--text {
        width: 350px;
    }
}