@import '../utils/colors.scss';
@import '../utils/fonts.scss';
@import '../utils/layout.scss';
.home__main--container,
.about__main--container {
    display: grid;
    background-image: $white;
    width: 100vw;
}

.home__contact--container {
    display: grid;
    width: 100vw;
    height: 400px;
    grid-template-rows: repeat(2, fit-content(100%));
    align-content: center;
}

.home__contact--methods {
    display: grid;
    grid-template-rows: repeat(4, fit-content(100%));
    justify-items: center;
    justify-content: center;
    grid-row-gap: $gutter-30 / 2;
}

.home__contact--text {
    color: $primary-dark;
    font-size: $header;
    margin-bottom: $gutter-30 / 2;
    align-self: end;
    justify-self: center;
}

.home__contact--methods-icon {
    font-size: $subheader;
    color: $primary-light;
}

.home__contact--email,
.home__contact--phone {
    color: $dark-gray;
    text-transform: uppercase;
    font-size: $baseline * 1.5;
    justify-self: center;
}

@media (min-width: 760px) {
    .home__contact--methods {
        grid-template-columns: repeat(4, fit-content(100%));
        grid-template-rows: none;
    }
    .home__contact--methods-icon {
        margin: 0 $gutter-30/2;
    }
}