@import '../utils/layout.scss';
@import '../utils/colors.scss';
@import '../utils/fonts.scss';
.home__reviews--container {
    display: grid;
    width: 100vw;
    grid-template-rows: 0 1fr 1fr 1fr 0;
    grid-row-gap: $gutter-30;
    background-color: $primary-light;
    color: $primary-dark;
}

.home__reviews--item-container--left,
.home__reviews--item-container--right {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr fit-content(100%) fit-content(100%) fit-content(100%) 1fr;
}

.home__reviews--body {
    text-align: center;
    margin: 0 $gutter-30;
    justify-self: center;
    font-size: $baseline;
}

.home__reviews--name {
    text-align: center;
    margin-top: $gutter-30 / 2;
    text-transform: uppercase;
    font-size: $large;
}

@media (min-width: 760px) {
    .home__reviews--container {
        height: 290px;
        grid-template-rows: 1fr;
        grid-template-columns: 0 1fr 1fr 1fr 0;
    }
    .home__reviews--body {
        font-size: $large;
    }
    .home__reviews--name {
        font-size: $subheader;
    }
}