@import '../utils/layout.scss';
@import '../utils/colors.scss';
@import '../utils/fonts.scss';

.reviews-index__container--home {
    display: grid;
    box-sizing: border-box;
    padding: 98px 15vw;
    grid-template-rows: repeat(3, fit-content(100%));
    grid-row-gap: $gutter-65;
    background-color: $primary-light;
    width: 100%;
}

.reviews-index-item__container--home {
    display: grid;
    align-items: center;
    align-content: start;
    grid-row-gap: $gutter-30 / 2;
    grid-template-rows: repeat(2, fit-content(100%));
}

.reviews-index-item__header-4--home {
    text-align: center;
    color: $primary-dark;
    letter-spacing: 1.3px;
    line-height: 1.21;
}

.reviews-index-item__header-3--home {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: $primary-dark;
    letter-spacing: 1.3px;
}

.reviews-index-item__image--home {
    width: 60vw;
    max-width: 350px;
    height: auto;
    justify-self: center;
    padding-top: 15px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.24));
}

@media (min-width: 760px) {
    .reviews-index__container--home {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, fit-content(100%));
        grid-column-gap: 98px;
        padding: 98px;
    }

    .reviews-index-item__image--home {
        width: 15vw;
        height: auto;
    }
}