@import '../utils/layout.scss';
@import '../utils/colors.scss';
@import '../utils/fonts.scss';
.home__reviews--container {
    display: grid;
    height: 290px;
    width: 100vw;
    grid-template-columns: 10vw 1fr 1fr 1fr 10vw;
    grid-column-gap: $gutter;
    background-color: $primary-light;
    color: $primary-dark;
}

.home__reviews--item-container--left,
.home__reviews--item-container--right {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr fit-content(100%) fit-content(100%) fit-content(100%) 1fr;
}

.home__reviews--body {
    text-align: center;
    font-size: $medium;
}

.home__reviews--name {
    text-align: center;
    margin-top: $gutter / 2;
    text-transform: uppercase;
    font-size: $subheader;
}