@import '../utils/*';
.services-index__container--home {
    display: grid;
    margin: 0 $gutter-30 $gutter-30 $gutter-30;
    grid-template-rows: fit-content(100%) fit-content(100%);
    grid-template-columns: auto auto;
    grid-column-gap: $gutter-30;
    grid-row-gap: $gutter-30;
}

.services-index-item__container--home {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: fit-content(100%) auto 100px;
}

.services-index-item__icon--home {
    color: $primary-dark;
    font-size: $baseline * 8;
}

.services-index-item__header-2--home {
    color: $primary-dark;
    text-align: center;
    text-transform: uppercase;
    margin-top: $gutter-30;
    align-self: center;
}

.services-index-item__header-3--home {
    color: $dark-gray;
    text-align: center;
    font-size: $baseline;
    width: 80%;
    align-self: start;
    margin-top: $gutter-30/2;
}

@media (min-width: 760px) {
    .home__services--container {
        height: 900px;
    }
    .services-index__container--home {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .services-index-item__icon--home {
        font-size: $baseline * 16;
    }
    .services-index-item__header-3--home {
        margin-top: $gutter-30 / 2;
    }
}