@import '../utils/colors.scss';
@import '../utils/fonts.scss';
@import '../utils/layout.scss';
.home__services--container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(100%) 1fr;
    justify-items: center;
}

.home__services--summary-container {
    display: grid;
    width: 80vw;
    align-items: center;
    justify-items: center;
    padding: $gutter * 2 0;
}

.home__services--summary-text {
    font-style: oblique;
    font-size: $baseline * 1.5;
    text-align: center;
    color: $white;
}

.home__services--summary-text::after {
    height: 10px;
    content: "";
    border-bottom: 3px solid $white;
    width: 50vw;
    display: inline-block;
}

.home__services--items-container {
    display: grid;
    width: 80vw;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-column-gap: $gutter;
}

.home__services--item-container {
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-rows: 100px 40px auto;
}

.home__services--item-icon {
    color: $white;
    font-size: $baseline * 2;
    padding: 20px;
    border-radius: 50%;
    border: 3px solid $white;
}

.home__services--item-name {
    color: $white;
    font-size: $baseline * 1.5;
}

.home__services--item-description {
    color: $white;
    text-align: center;
}

@media (min-width: 760px) {
    .home__services-container {
        grid-template-rows: 1fr 1fr;
    }
    .home__services--items-container {
        grid-template-columns: auto auto auto auto;
    }
    .home__services--summary-text {
        font-size: $baseline * 2;
    }
}