@import '../utils/*';
.home__services--container {
    display: grid;
    width: 100vw;
    height: 1000px;
    grid-template-columns: 1fr;
    grid-template-rows: 300px auto;
    justify-items: center;
}

.about__mixed--container {
    @extend .home__services--container;
    grid-template-rows: 600px auto;
}

.home__services--items-container {
    display: grid;
    width: 80vw;
    grid-template-rows: fit-content(100%) fit-content(100%);
    grid-template-columns: auto auto;
    grid-column-gap: $gutter-30;
    grid-row-gap: $gutter-30 / 2;
    align-self: center;
}

.home__services--item-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: fit-content(100%) 50px 100px;
}

.home__services--item-icon {
    color: $primary-dark;
    font-size: $baseline * 8;
}

.home__services--item-name {
    color: $dark-gray;
    font-size: $medium;
    text-align: center;
    text-transform: uppercase;
    align-self: start;
    margin-top: $gutter-30 / 2;
}

.home__services--item-description {
    color: $light-gray;
    text-align: center;
    font-size: $baseline;
    width: 80%;
    align-self: start;
    margin-top: $gutter-30/2;
}

@media (min-width: 760px) {
    .home__services--container {
        height: 900px;
    }
    .home__services--items-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .home__services--item-icon {
        font-size: $baseline * 16;
    }
    .home__services--item-description {
        margin-top: $gutter-30 / 2;
    }
}