@import '../utils/*';
.leaders-index__container {
    width: 100vw;
    display: grid;
    justify-content: center;
}

.leader-index-item__container {
    display: grid;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-row-gap: $gutter-65;
    padding: $gutter-65 $gutter-30;
    width: 100wv;
    z-index: 1;
    justify-items: center;
    background-color: $primary-light;
    position: relative;
}

.leader-index-item__headshot {
    width: calc(100vw - 130px);
    height: calc(100vw - 130px);
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.leader-index-item__container--text {
    display: grid;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-row-gap: $gutter-30;
    justify-items: center;
    color: $primary-dark;
    & span {
        font-size: 16px !important;
    }
}

.leader-index-item__header-2 {
    font-size: $h2-big;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-align: center;
}

.leader-index-item__header-3 {
    text-align: center;
    line-height: 1.65;
    letter-spacing: 1.3px;
}

@media (min-width: 760px) {
    .leader-index-item__container {
        padding: $gutter-65;
    }
    .leader-index-item__headshot {
        height: 300px;
        width: 300px;
    }
}

//will need more logic if we have multiple leaders and left/right alignment
@media (min-width: 1100abouspx) {
    .leader-index-item__container {
        width: 100vw;
        box-sizing: border-box;
        padding: $gutter-65 $gutter-65*3;
        padding-left: $gutter-65*3.5; //adjusted to properly center
        grid-template-columns: repeat(2, fit-content(100%));
        grid-column-gap: $gutter-65;
        grid-template-rows: none;
        justify-items: center;
        align-items: center;
    }
    .leader-index-item__container--text {
        justify-items: start;
    }
    .leader-index-item__header-2,
    .leader-index-item__header-3 {
        text-align: left;
    }
}