@import '../utils/*';
.leaders-index__container {
    width: 100vw;
    display: grid;
    justify-content: center;
}

.leader-index-item__container {
    display: grid;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-row-gap: 45px;
    margin: 0 $gutter-65 $gutter-30 $gutter-65;
    width: 100wv;
    z-index: 1;
    position: relative;
}

.leader-backdrop {
    position: absolute;
    height: 120px;
    top: 30px;
    background-color: $primary-light;
    width: 100%;
}

.leader-index-item__headshot {
    width: calc(100vw - 60px);
    border: 1px solid $primary-dark;
}

.leader-index-item__container--text {
    display: grid;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-row-gap: $gutter-30;
    justify-items: center;
    color: $primary-dark;
}

.leader-index-item__header-2 {
    font-size: $h2-big;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.leader-index-item__header-3 {
    text-align: center;
    line-height: 1.65;
    letter-spacing: 1.3px;
}

@media (min-width: 760px) {
    .leader-index-item__container {
        width: 65vw;
        box-sizing: border-box;
        justify-items: center;
    }
    .leader-index-item__headshot {
        width: 600px;
    }
}
