@import '../utils/*';
.services-index__container {
    display: grid;
    margin: $gutter-65 $gutter-30;
    grid-template-rows: repeat(4, fit-content(100%));
    grid-template-columns: 1fr;
    grid-row-gap: $gutter-30;
    align-content: left;
}

.services-index-item__container {
    display: grid;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-row-gap: $gutter-30 / 2;
    align-content: center;
}

.services-index-item__container--header {
    display: grid;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-row-gap: $gutter-30;
    align-content: center;
    justify-items: center;
}

.services-index-item__icon {
    color: $primary-dark;
    font-size: 112px;
}

.services-index-item__header-2 {
    color: $primary-dark;
    text-align: left;
    text-transform: uppercase;
    align-self: center;
}

.services-index-item__header-3 {
    color: $dark-gray;
    text-align: justify;
    font-size: $baseline;
    align-self: start;
}

@media (min-width: 760px) {
    .services-index__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .services-index-item__icon {
        font-size: 170px;
    }
    .services-index-item__header-3 {
        margin-top: $gutter-30 / 2;
    }
}