@import '../utils/*';
.services-index__container {
    display: grid;
    width: 100vw;
    margin-top: 91px;
    padding: $gutter-65 $gutter-30 0 $gutter-30;
    box-sizing: border-box;
    grid-template-rows: repeat(8, fit-content(100%));
    grid-template-columns: 1fr;
    grid-row-gap: $gutter-30;
}

.services-index-item__container {
    display: grid;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-row-gap: $gutter-30 / 2;
    align-content: center;
}

.services-index-item__container--header {
    display: grid;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-row-gap: $gutter-30 / 2;
    align-content: center;
    justify-items: center;
}

.services-index-item__icon {
    color: $primary-dark;
    font-size: 112px;
}

.services-index-item__header-3--name {
    color: $primary-dark;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

.services-index-item__header-3--description {
    color: $primary-dark;
    text-align: justify;
    letter-spacing: 1.3px;
    line-height: 1.65;
}

.border-maker {
    height: 0;
}

@media (min-width: 800px) {
    .services-index__container {
        padding: $gutter-30 0 0 0;
        justify-items: center;
    }
    .services-index-item__container {
        grid-template-columns: repeat(2, fit-content(100%));
        grid-column-gap: 55px;
        grid-row-gap: none;
        justify-content: center;
        align-items: center;
        margin: 75px 0;
        width: 70vw;
    }
    .border-maker {
        height: 1px;
        border-bottom: 1px solid $primary-dark;
        width: 60vw;
        margin: auto;
    }
    .services-index-item__container--header {
        width: 200px;
    }
    .services-index-item__icon {
        font-size: 185px;
    }
    .services-index-item__header-3--name {
        text-align: center;
    }
}
