@import '../utils/*';
.contact__container {
    display: grid;
    width: 100%;
    padding: $gutter-65 0;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-row-gap: $gutter-30 / 2;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.contact__header-1 {
    color: $primary-dark;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

.contact__container--methods-index {
    display: grid;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-row-gap: $gutter-30 / 2;
}

.contact__container--methods-index-item {
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    align-items: center;
    justify-content: center;
}

.contact__container--methods-index-item>h4 {
    letter-spacing: 1.1px;
    color: $mid-gray;
}

.contact__icon {
    font-size: $subheader;
    color: $primary-light;
}

.contact__icon--email {
    margin-right: 5px;
}

@media (min-width: 760px) {
    .contact__container--methods-index {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: none;
    }
    .contact__icon {
        margin-right: $gutter-30/3;
    }
    .contact__icon--email {
        margin-right: $gutter-30/2;
    }
}