@import '../utils/*';
footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: $gutter-65;
    background-color: $primary-dark;
    width: 100%;
    border: solid 1px #dddddd;
}

.footer__legal {
    display: grid;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-template-columns: 1fr;
    color: $light-gray;
    margin-left: $gutter-30;
    align-content: center;
}

.footer__social {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, fit-content(100%));
    color: $light-gray;
    margin-right: $gutter-30;
    justify-content: end;
    align-items: center;
}

.footer__legal>a,
.footer__legal>p,
.footer__social>a {
    color: $light-gray;
    letter-spacing: 1.3px;
}

.footer__social>a {
    font-size: $baseline * 3;
    margin-left: $gutter-30/2;
}

@media (min-width: 760px) {
    footer {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .footer__legal {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, fit-content(100%));
        align-items: center;
    }
    .footer__legal>a,
    .footer__legal>p {
        margin-left: $gutter-30/2;
    }
    .footer__social {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, fit-content(100%));
    }
}