@import '../utils/*';
header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    width: 100%;
    height: 91px;
    border-bottom: solid 1px #dddddd;
    background-color: $primary-dark;
    z-index: 1;
}

.header__logo--container {
    display: grid;
    justify-items: start;
    align-items: center;
    margin-left: $gutter-30;
}

.header__navigation-link--container {
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));
    grid-template-rows: 1fr;
    align-items: end;
    margin-right: $gutter-30 / 2;
    margin-bottom: $gutter-30 / 2;
}

.header__navigation-link {
    color: $secondary-light;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    margin-left: $gutter-30 / 2;
    transition: color 500ms ease;
}

.header__navigation-link:hover {
    color: $secondary-dark;
}

.header__logo {
    margin-top: 3px;
    height: 30px;
}

@media (min-width: 760px) {
    .header__navigation-link--container {
        margin-right: $gutter-30;
        justify-content: end;
    }
    .header__navigation-link {
        justify-self: start;
        align-self: end;
        margin-left: $gutter-30 / 2;
    }
}

@media (max-width: 414px) {
    header {
        height: $gutter-65 + 15;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .header__logo--container {
        justify-items: center;
        margin-left: 0px;
    }
    .header__logo {
        margin-top: 8px;
    }
    .header__navigation-link--container {
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }
}