@import '../utils/*';
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: $gutter-65;
    background-color: $primary-dark;
}

.header__logo--container {
    display: grid;
    justify-items: start;
    align-items: center;
    margin-left: $gutter-30 / 2;
}

.header__navigation-link--container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    align-items: end;
    margin-right: $gutter-30 / 2;
    margin-bottom: $gutter-30 / 2;
}

.header__navigation-link {
    color: $secondary-light;
    margin-left: $gutter-30 / 2;
}

.header__logo {
    margin-top: 3px;
    height: 40px;
}

@media (min-width: 760px) {
    .header__navigation-link--container {
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr;
        justify-content: end;
        margin-right: $gutter-30;
    }
    .header__logo--container {
        margin-left: $gutter-30;
    }
    .header__navigation-link {
        justify-self: start;
        align-self: end;
        margin-left: $gutter-30 / 2;
    }
}