@import '../utils/*';
.summary__container {
    display: grid;
    width: 80vw;
    margin: $gutter-65 0;
    align-items: center;
    justify-items: center;
    align-self: center;
}

.summary__container--with-title {
    @extend .summary__container;
    grid-template-rows: repeat(2, fit-content(100%));
    justify-items: center;
}

.summary__header-3 {
    text-align: center;
    color: $primary-dark;
    letter-spacing: 1.3px;
    line-height: 1.65;
}

.summary__header-2 {
    text-align: center;
    color: $primary-dark;
    text-transform: uppercase;
    margin-bottom: $gutter-30;
    font-size: $h2-big;
    letter-spacing: 0.8px;
}

.summary__container::after {
    height: 10px;
    content: "";
    border-bottom: 1px solid $primary-dark;
    width: 50vw;
    display: block;
}

@media (min-width: 760px) {
    .summary__container::after {
        display: block;
        margin: auto;
        margin-top: $gutter-30;
    }
}