@import '../utils/colors.scss';
@import '../utils/layout.scss';
@import '../utils/fonts.scss';
footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 80px;
    background-color: $dark-gray;
}

.footer__legal {
    display: grid;
    grid-template-rows: 30px 30px;
    grid-template-columns: 1fr;
    color: $white;
    margin-left: $gutter;
}

.footer__social {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr fit-content(100%) fit-content(100%);
    color: $white;
    margin-right: $gutter;
}

.footer__social>a,
.footer__legal>a,
.footer__legal>p {
    color: $white;
    align-self: start;
    margin-top: $gutter / 2;
}

.footer__social>a {
    font-size: $baseline * 3;
}

@media (min-width: 760px) {
    footer {
        grid-template-rows: 1fr;
        grid-template-columns: 70% 1fr;
    }
    .footer__legal {
        grid-template-rows: 1fr;
        grid-template-columns: 200px 200px;
    }
    .footer__social {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 50px 50px;
        align-items: end;
    }
    .footer__legal>a,
    .footer__legal>p {
        align-self: center;
        margin-top: 0;
    }
}