$white: #FFFAFB;
$gray: #2B2C28;
$black: #131515;
$primary-light: #7DE2D1;
$primary-dark: #339989;
$primary-gradient-1: linear-gradient( to right top, #7de2d1, #6bcfbe, #59bdac, #46ab9a, #339989);
$primary-gradient-2: linear-gradient( to left bottom, #7de2d1, #6bcfbe, #59bdac, #46ab9a, #339989);