$white: #FFFAFB;
$dark-gray: #767676;
$light-gray: #BFBFBF;
$black: #131515;
$primary-light: #79CBCB;
$primary-dark: #063C3C;
$secondary-light: #FFDAA6;
$secondary-dark: #B07B31;
$primary-gradient-1: linear-gradient(to right top, #7accca, #5ca5a4, #40807f, #245d5d, #073c3c);
$primary-gradient-2: linear-gradient(to left bottom, #7accca, #5ca5a4, #40807f, #245d5d, #073c3c);
$secondary-gradient-1: linear-gradient(to left bottom, #b3ac8a, #b0a173, #af955c, #af8946, #b07b31);
$secondary-gradient-2: linear-gradient(to right top, #b3ac8a, #b0a173, #af955c, #af8946, #b07b31);