$baseline: 14px;
$header: 48px;
$subheader: 24px;
$large: 20px;
$medium: 18px;
$h2-big: 32px;
h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

a {
    font-size: 14px;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
    src: url('/assets/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/Mark Simonson - Proxima Nova Alt Regular-webfont.woff2') format('woff2'), url('/assets/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'), url('/assets/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'), url('/assets/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;
}