<h1><em>Athira:</em> New Message Received</h1>

<h2>Name</h2>
<h3><%= @visitor.first_name @visitor.last_name %></h3>

<h2>Email Address</h2>
<h3><%= @visitor.email_address %></h3>

<h2>Phone Number</h2>
<h3><%= @visitor.phone_number %></h3>

<h2>Message</h2>
<p><%= @visitor.message %></p>
