<h1>Welcome to example.com, <%= @visitor[:nickname] %></h1>
  <p>
    You have successfully signed up to example.com,
    your username is: <%= @visitor[:usermane] %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>
