// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
// Active Admin's got SASS!
@import "utils/colors";
$am-theme-primary: $primary-dark;
$am-theme-primary-700: $primary-light;
$am-theme-accent: $primary-light;
$am-theme-backdrop: $primary-light;
@import "active_admin/mixins";
@import "active_material";
@import 'activeadmin/quill_editor_input';
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
#image_carousel_serialized_urls, #image_carousel_serialized_headlines {
    min-height: 300px;
}

#image_carousel_serialized_urls_input, #image_carousel_serialized_headlines_input {
    margin-top: 0;
    padding-top: 0;
    .label {
        display: none;
    }
    &:textarea {
        min-height: 300px;
    }
}

.inline-hints {
    font-size: 1em;
    color: $secondary-dark;
}
